replicaCount: 1

image:
  repository: 512897090915.dkr.ecr.us-east-1.amazonaws.com/python-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

container:
  port: 5000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

serviceAccount:
  create: true
  name: ""

podAnnotations: {}

nodeSelector: {}
tolerations: []
affinity: {}

ingress:
  enabled: true